<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Helper\Product\Compare">
        <plugin disabled="false" name="Unimix_DisableCompare_Plugin_Frontend_Magento_Catalog_Helper_Product_Compare" sortOrder="10" type="Unimix\DisableCompare\Plugin\Frontend\Magento\Catalog\Helper\Product\Compare"/>
    </type>
</config>
